ultralytics==8.3.72
opencv-python==4.11.0.86
hsemotion-onnx>=0.3.1
onnxruntime>=1.18.0
mediapipe>=0.10.0
numpy==2.1.1
fastapi==0.116.1
uvicorn==0.35.0
PyYAML==6.0.2
prometheus-client==0.21.1
Pillow>=10.0.0
